<div class="col-md-12">
    <div class="page-header">
        <a href="/#album/<%- id %>"><h2><%- title %></h2></a>
   </div>
    <% _.each(photos, function(item){ %>
    <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
            <img src="/images/<%= item.src %>">
        </div>
    </div>
    <% }); %>
</div>
