<div class="row">
    <% var total_pages = total_items / per_page %>
    <% if(per_page < total_items) { %>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <% if(current_page > 1) { %>
            <li>
                <a href="/#album/<%- album_id %>/page/<%- current_page - 1 %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% } %>
            <% for (var i = 1; i <= total_pages; i++) { %>
            <li <% if(current_page == i) {%>class="active"<% } %>><a href="/#album/<%- album_id %>/page/<%- i %>"><%- i %></a></li>
            <% } %>
            <% if(current_page < total_pages) { %>
            <li>
                <a href="/#album/<%- album_id %>/page/<%- parseInt(current_page)+parseInt(1) %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <% } %>
        </ul>
    </nav>
    <% } %>
    <div id="photos"></div>
</div>